@media( --content-query ) {
    /* Animated Frame */
    .l1,.l2,.l3,.l4,.l5,.l6 {
        position: fixed;
        background: transparent;
        width: 0px;
		height: 0px;
		animation-duration: .8s;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
        -webkit-animation-duration: .8s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
    }

    .l1 {
        left: 30px;
        top: 30px;
        height: 100%;
        width: 2px;
		animation-name: l1;
		animation-delay: .8s;
        -webkit-animation-name: l1;
		-webkit-animation-delay: .8s;
    }

    .l2 {
        top: 30px;
        left:50%;
        width: 50%;
        height: 2px;
		animation-name: l2;
		animation-delay: 0s;
        -webkit-animation-name: l2;
        -webkit-animation-delay: 0s;
    }

    .l3 {
        right: 30px;
        top: 30px;
        height: 100%;
        width: 2px;
		animation-name: l3;
		animation-delay: .8s;
        -webkit-animation-name: l3;
        -webkit-animation-delay: .8s;
    }

    .l4 {
        bottom: 30px;
        left: 30px;
        width: 50%;
        height: 2px;
		animation-name: l4;
		animation-delay: 1.6s;
        -webkit-animation-name: l4;
        -webkit-animation-delay: 1.6s;
    }

    .l5 {
        top: 30px;
        right: 50%;
        width: 50%;
        height: 2px;
		animation-name: l5;
		animation-delay: 0s;
        -webkit-animation-name: l5;
        -webkit-animation-delay: 0s;
    }

    .l6 {
        bottom: 30px;
        right: 30px;
        width: 50%;
        height: 2px;
		animation-name: l6;
		animation-delay: 1.6s;
        -webkit-animation-name: l6;
        -webkit-animation-delay: 1.6s;
	}

	@keyframes l1 {
        0%    { height: 0; background: #121010; }
        100%  { height: calc((var(--vh) * 100) - 60px); background: #121010; }
    }

    @keyframes l2 {
        0%    { width: 0; background: #121010; }
        100%  { width: calc((var(--vw) * 50) - 30px); background: #121010; }
    }

    @keyframes l3 {
        0%    { height: 0; background: #121010; }
        100%  { height: calc((var(--vh) * 100) - 60px); background: #121010; }
    }

    @keyframes l4 {
        0%    { width: 0; background: #121010; }
        100%  { width: calc((var(--vw) * 50) - 30px); background: #121010; }
    }

    @keyframes l5 {
        0%    { width: 0; background: #121010; }
        100%  { width: calc((var(--vw) * 50) - 30px); background: #121010; }
    }

    @keyframes l6 {
        0%    { width: 0; background: #121010; }
        100%  { width: calc((var(--vw) * 50) - 30px); background: #121010; }
    }


	@-webkit-keyframes l1 {
        0%    { height: 0; background: #121010; }
        100%  { height: calc((var(--vh) * 100) - 60px); background: #121010; }
    }

    @-webkit-keyframes l2 {
        0%    { width: 0; background: #121010; }
        100%  { width: calc((var(--vw) * 50) - 30px); background: #121010; }
    }

    @-webkit-keyframes l3 {
        0%    { height: 0; background: #121010; }
        100%  { height: calc((var(--vh) * 100) - 60px); background: #121010; }
    }

    @-webkit-keyframes l4 {
        0%    { width: 0; background: #121010; }
        100%  { width: calc((var(--vw) * 50) - 30px); background: #121010; }
    }

    @-webkit-keyframes l5 {
        0%    { width: 0; background: #121010; }
        100%  { width: calc((var(--vw) * 50) - 30px); background: #121010; }
    }

    @-webkit-keyframes l6 {
        0%    { width: 0; background: #121010; }
        100%  { width: calc((var(--vw) * 50) - 30px); background: #121010; }
    }
}
