/**
 * Custom styles for the front-page.php template.
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@media (--content-query) {
	/* Animated Frame */
	.l1, .l2, .l3, .l4, .l5, .l6 {
		position: fixed;
		background: transparent;
		width: 0px;
		height: 0px;
		animation-duration: .8s;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		-webkit-animation-duration: .8s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode: forwards; }
	.l1 {
		left: 30px;
		top: 30px;
		height: 100%;
		width: 2px;
		animation-name: l1;
		animation-delay: .8s;
		-webkit-animation-name: l1;
		-webkit-animation-delay: .8s; }
	.l2 {
		top: 30px;
		left: 50%;
		width: 50%;
		height: 2px;
		animation-name: l2;
		animation-delay: 0s;
		-webkit-animation-name: l2;
		-webkit-animation-delay: 0s; }
	.l3 {
		right: 30px;
		top: 30px;
		height: 100%;
		width: 2px;
		animation-name: l3;
		animation-delay: .8s;
		-webkit-animation-name: l3;
		-webkit-animation-delay: .8s; }
	.l4 {
		bottom: 30px;
		left: 30px;
		width: 50%;
		height: 2px;
		animation-name: l4;
		animation-delay: 1.6s;
		-webkit-animation-name: l4;
		-webkit-animation-delay: 1.6s; }
	.l5 {
		top: 30px;
		right: 50%;
		width: 50%;
		height: 2px;
		animation-name: l5;
		animation-delay: 0s;
		-webkit-animation-name: l5;
		-webkit-animation-delay: 0s; }
	.l6 {
		bottom: 30px;
		right: 30px;
		width: 50%;
		height: 2px;
		animation-name: l6;
		animation-delay: 1.6s;
		-webkit-animation-name: l6;
		-webkit-animation-delay: 1.6s; }
	@keyframes l1 {
		0% {
			height: 0;
			background: #121010; }
		100% {
			height: calc((var(--vh) * 100) - 60px);
			background: #121010; } }
	@keyframes l2 {
		0% {
			width: 0;
			background: #121010; }
		100% {
			width: calc((var(--vw) * 50) - 30px);
			background: #121010; } }
	@keyframes l3 {
		0% {
			height: 0;
			background: #121010; }
		100% {
			height: calc((var(--vh) * 100) - 60px);
			background: #121010; } }
	@keyframes l4 {
		0% {
			width: 0;
			background: #121010; }
		100% {
			width: calc((var(--vw) * 50) - 30px);
			background: #121010; } }
	@keyframes l5 {
		0% {
			width: 0;
			background: #121010; }
		100% {
			width: calc((var(--vw) * 50) - 30px);
			background: #121010; } }
	@keyframes l6 {
		0% {
			width: 0;
			background: #121010; }
		100% {
			width: calc((var(--vw) * 50) - 30px);
			background: #121010; } }
	@-webkit-keyframes l1 {
		0% {
			height: 0;
			background: #121010; }
		100% {
			height: calc((var(--vh) * 100) - 60px);
			background: #121010; } }
	@-webkit-keyframes l2 {
		0% {
			width: 0;
			background: #121010; }
		100% {
			width: calc((var(--vw) * 50) - 30px);
			background: #121010; } }
	@-webkit-keyframes l3 {
		0% {
			height: 0;
			background: #121010; }
		100% {
			height: calc((var(--vh) * 100) - 60px);
			background: #121010; } }
	@-webkit-keyframes l4 {
		0% {
			width: 0;
			background: #121010; }
		100% {
			width: calc((var(--vw) * 50) - 30px);
			background: #121010; } }
	@-webkit-keyframes l5 {
		0% {
			width: 0;
			background: #121010; }
		100% {
			width: calc((var(--vw) * 50) - 30px);
			background: #121010; } }
	@-webkit-keyframes l6 {
		0% {
			width: 0;
			background: #121010; }
		100% {
			width: calc((var(--vw) * 50) - 30px);
			background: #121010; } } }

/**
 * Starwars stuff
 */
/*#FFFF82;*/
#starwars-board {
	flex: 0 0 1;
	-ms-flex: 0 0 1;
	-webkit-box-flex: 0;
	perspective: 300px;
	-webkit-perspective: 300px;
	overflow: hidden;
	width: 100%;
	max-height: 500px;
	display: none; }

#starwars-content {
	font-family: var(--starwars-font-family);
	font-weight: 700;
	font-size: 150%;
	color: black;
	background: transparent;
	transform: rotateX(25deg);
	-webkit-transform: rotateX(25deg);
	animation: animateCrawl 20s ease-in infinite;
	-webkit-animation: animateCrawl 20s ease-in infinite;
	width: 100%; }

@keyframes animateCrawl {
	0% {
		-webkit-transform: rotateX(25deg) translateY(400px);
		transform: rotateX(25deg) translateY(400px); }
	100% {
		-webkit-transform: rotateX(25deg) translateY(-720px);
		transform: rotateX(25deg) translateY(-720px); } }

@-webkit-keyframes animateCrawl {
	0% {
		-webkit-transform: rotateX(25deg) translateY(400px);
		transform: rotateX(25deg) translateY(400px); }
	100% {
		-webkit-transform: rotateX(25deg) translateY(-720px);
		transform: rotateX(25deg) translateY(-720px); } }

figure.hover-news {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
	min-width: 280px;
	max-width: 470px;
	max-height: 280px;
	background: #000000;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

figure.hover-news * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out; }

figure.hover-news img {
	max-width: 100%;
	position: relative;
	opacity: 0.4; }

figure.hover-news figcaption {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; }

figure.hover-news h2 {
	position: absolute;
	font-family: 'Raleway', Arial, sans-serif;
	left: 40px;
	right: 40px;
	display: inline-block;
	background: #000000;
	-webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
	transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
	padding: 12px 5px;
	margin: 0;
	top: 50%;
	text-transform: uppercase;
	font-weight: 400;
	color: var(--funky-yellow-color); }

figure.hover-news h2 span {
	font-weight: 800; }

figure.hover-news:before {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: '';
	background: var(--funky-yellow-color);
	position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: rotate(110deg) translateY(-50%);
	transform: rotate(110deg) translateY(-50%); }

figure.hover-news a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1; }

figure.hover-news:hover img,
figure.hover-news.hover img {
	opacity: 1;
	-webkit-transform: scale(1.1);
	transform: scale(1.1); }

figure.hover-news:hover h2,
figure.hover-news.hover h2 {
	-webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
	transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%); }

figure.hover-news:hover:before,
figure.hover-news.hover:before {
	-webkit-transform: rotate(110deg) translateY(-150%);
	transform: rotate(110deg) translateY(-150%); }

@media (--wide-menu-query) {
	figure.hover-news {
		min-width: 330px;
		max-height: 330px; } }

body, html {
	height: 100vh;
	height: calc(var(--vh) * 100);
	margin: 0; }

* {
	box-sizing: border-box; }

.menu-toggle {
	z-index: 9999 !important; }

#bottomline {
	position: fixed;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	font-size: 0.8em;
	text-decoration: none;
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	z-index: 9999; }

#socialicons {
	left: 50%;
	display: flex;
	position: absolute;
	justify-content: center;
	font-size: 1.5em; }

.iconcontainer {
	height: 1em;
	margin: 0 .1em; }
	.iconcontainer:hover {
		transform: scale(1.1); }

#kopibeskyttelse {
	margin: 0;
	visibility: hidden; }

a#madeby {
	color: black;
	visibility: hidden;
	text-decoration: none; }
	a#madeby:visited {
		color: black; }

#personvern {
	color: black;
	text-decoration: none; }
	#personvern:visited {
		color: black; }

.content {
	position: relative;
	visibility: visible;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0 1em;
	width: calc(100vw - 60px);
	height: calc(100vh - 60px);
	height: calc((var(--vh) * 100) - 60px);
	top: 30px;
	left: 30px;
	background-color: var(--funky-yellow-color);
	overflow: hidden; }

.rotate {
	vertical-align: top;
	/*margin-top:23px;
	width:80px;height:30px;*/
	transform: rotate(-7deg);
	-ms-transform: rotate(-90deg);
	/* IE 9 */
	-moz-transform: rotate(-90deg);
	/* Firefox */
	-webkit-transform: rotate(-90deg);
	/* Safari and Chrome */
	-o-transform: rotate(-90deg);
	/* Opera */ }

/*
 html {
	 margin:0;
	background: url('../images/bckimg.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 }
*/
#frontvideo {
	width: 100% !important;
	height: auto !important;
	flex: 2;
	opacity: 0;
	-webkit-animation: 1s ease 2.5s normal forwards 1 fadein;
	animation: 1s ease 2.5s normal forwards 1 fadein; }

.front-page-title {
	overflow: hidden;
	border: 2px solid black;
	margin: 0;
	padding: 0;
	background-color: var(--funky-yellow-color); }
	.front-page-title * {
		z-index: 2; }
	.front-page-title .texttitle {
		display: none; }
	.front-page-title .logotitle {
		width: 100%;
		height: auto;
		opacity: 0;
		-webkit-animation: 1s ease .5s normal forwards 1 fadein;
		animation: 1s ease .5s normal forwards 1 fadein; }
	.front-page-title #front-page-header {
		height: auto;
		width: 100%;
		padding: 1em;
		display: none;
		flex: 1; }
	.front-page-title #getticket {
		display: none;
		margin: 0 auto;
		outline: none;
		flex: 1;
		white-space: nowrap;
		-webkit-animation: 1s ease .5s normal forwards 1 fadein;
		animation: 1s ease .5s normal forwards 1 fadein;
		opacity: 0; }
		.front-page-title #getticket a {
			text-decoration: none;
			font-family: var(--highlight-font-family); }
			.front-page-title #getticket a h1 {
				padding-left: 3px;
				padding-right: 3px;
				border: 2px solid black;
				border-radius: 5px; }

@keyframes fadein {
	0% {
		opacity: 0; }
	100% {
		opacity: 1; } }

.buyticket {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start; }
	.buyticket p {
		text-decoration: none; }

#billetticon {
	position: relative;
	width: 3.2em; }
	#billetticon:hover {
		-webkit-transform: scale(1.4);
		transform: scale(1.4); }

.site-main {
	margin: 0 auto; }
	.site-main section {
		height: 100vh;
		height: calc(var(--vh) * 100) !important;
		margin: 0 auto; }

.program-wrapper {
	background-color: var(--funky-yellow-color);
	height: calc(100vh - 60px);
	height: calc((var(--vh) * 100) - 60px) !important;
	top: 30px; }

ul.programliste {
	list-style: none;
	margin: 0 auto;
	padding: 0; }

#lokasjon .map-wrapper {
	border: solid 2px black;
	padding: 0; }

#map {
	width: 100%;
	height: 100%; }

@media (--narrow-height) {
	ul.programliste {
		font-size: .8em; } }

h3 {
	padding: 0;
	margin: 0; }

.date {
	width: 17%;
	padding: 6% 1% 0 0;
	float: left; }
	.date h3 {
		font-size: 1.5em; }
	.date p {
		font-size: .8em; }

.events {
	float: left;
	width: 80%;
	border-left: 1px solid #333;
	margin-top: 5%; }

.events-detail {
	max-width: 550px;
	list-style: none; }
	.events-detail li {
		padding: .5em;
		border-bottom: 1px dashed #333;
		-webkit-transition: ease .4s all;
		transition: ease .4s all; }
		.events-detail li:hover {
			background: rgba(0, 0, 0, 0.1); }

.event-time {
	font-weight: 900; }

.events-detail li a {
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
	text-align: left; }

@media (--narrow-menu-query) {
	#starwars-board {
		display: block !important; }
	.front-page-title {
		background-color: var(--funky-yellow-color);
		justify-content: space-evenly !important; }
		.front-page-title #front-page-header {
			display: block !important; }
		.front-page-title #frontvideo {
			animation: 1s ease .5s normal forwards 1 fadein;
			-webkit-animation: 1s ease .5s normal forwards 1 fadein;
			display: none !important; }
		.front-page-title #getticket {
			display: block !important; }
	ul.programliste {
		margin: 0;
		padding: 0;
		min-width: 200px; }
	.date {
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: space-around;
		width: 100%;
		border-bottom: 1px solid #333;
		margin-bottom: 10px; }
		.date h3, .date p {
			font-family: var(--highlight-font-family);
			font-size: 1.5em; }
	.events {
		border: none;
		width: 100%;
		margin-top: 0; }
	.events-detail {
		padding: 0;
		list-style: none; }
		.events-detail li a {
			text-align: left; }
	li.date p {
		margin: 0; }
	#bottomline {
		justify-content: center; } }

.label {
	white-space: nowrap;
	margin-right: 1em;
	font-size: 1em; }

.news-grid-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: calc(100vw - 60px) !important;
	height: calc(100vh - 60px);
	height: calc((var(--vh) * 100) - 60px) !important;
	top: 30px;
	left: 30px;
	overflow-y: auto; }

.news-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-auto-rows: 1fr;
	align-items: center;
	justify-items: center;
	margin: 0; }

.news-block {
	width: 100%;
	text-decoration: none; }
	.news-block .arkivtekst {
		text-decoration: none;
		margin: 0;
		height: 100%;
		width: 100%; }
	.news-block .posted-on {
		position: absolute;
		font-family: var(--highlight-font-family);
		text-transform: uppercase;
		color: var(--funky-yellow-color);
		font-size: 0.8em;
		margin: 0;
		top: 0.5em;
		left: 1em; }

.excerpts-archive {
	width: 100%;
	height: 100%;
	max-width: 470px;
	font-family: var(--highlight-font-family);
	font-size: 1.5em;
	border: solid 2px dotted black;
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'><polyline points='8.3,-18.1 34.6,12.4 8.3,43' stroke='hsla(0, 0%, 100%, .2)' fill='transparent' stroke-width='8'/></svg>");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 110%;
	min-width: 280px;
	max-height: 280px; }

@media (--wide-menu-query) {
	.news-grid {
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); }
	.excerpts-footer {
		margin: .5em 0;
		text-decoration: none; }
	.excerpts-archive {
		min-width: 330px;
		max-height: 330px; }
		.excerpts-archive .button {
			display: block;
			height: 100%;
			width: 100%; }
		.excerpts-archive .arkivtekst {
			overflow: hidden; }
	.partner-wrapper {
		overflow: hidden; }
	.partner-heading {
		display: flex;
		justify-content: center; }
		.partner-heading h1 {
			margin-top: 0;
			color: black; }
		.partner-heading a {
			color: black;
			text-decoration: none; }
	.partner-heading
.partner-section {
		padding: 10px; }
	.partner-section:first-child {
		width: 100%; }
	.partner-section:not(:first-child) {
		flex: 1; } }

@media (--content-query) {
	.menu-toggle {
		color: var(--global-font-color); }
	#bottomline {
		color: var(--global-font-color);
		fill: black;
		padding: 0 30px 0 30px; }
	#kopibeskyttelse, a#madeby {
		visibility: visible; }
	.front-page-title::before {
		animation: 1s ease 2.5s normal forwards 1 fadein;
		-webkit-animation: 1s ease 2.5s normal forwards 1 fadein; }
	.front-page-title {
		width: calc(100vw - 64px) !important;
		height: calc(100vh -64px);
		height: calc((var(--vh) * 100) - 64px) !important;
		top: 32px !important;
		left: 32px !important;
		border: 0;
		padding: 0; }
		.front-page-title #front-page-header .logotitle {
			-webkit-animation: 1s ease 2.5s normal forwards 1 fadein;
			animation: 1s ease 2.5s normal forwards 1 fadein; }
	.news-block article.news-excerpt {
		margin-bottom: 0;
		border-bottom: 0; }
	.news-grid-wrapper {
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between; }
	.news-header h2 {
		font-family: 'coasterblack'; }
	.news-grid {
		width: 100%;
		grid-gap: 2em;
		padding: 2em; }
	#lokasjon .map-wrapper {
		border: none;
		padding: 0; } }

/*
* Billetter section
*/
#billetter .content {
	padding: 0; }

#billetter-wrapper {
	margin: .5em;
	height: 100%;
	max-height: calc(100% - .5em);
	max-width: calc(100% - .5em);
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center; }
	#billetter-wrapper * {
		color: var(--funky-yellow-color);
		font-family: var(--highlight-font-family);
		margin: 0; }
	#billetter-wrapper .billett {
		flex: 0 1 auto;
		padding: 0.5em 1em;
		margin: 0.25em 0;
		max-width: 100%;
		min-width: 100%; }
		#billetter-wrapper .billett:not(:last-child) {
			border-radius: 0;
			border-bottom: dotted 1px black; }
		#billetter-wrapper .billett .buyticket {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			align-items: center;
			white-space: nowrap;
			flex: 0 1 auto; }
			#billetter-wrapper .billett .buyticket * {
				color: black; }
		#billetter-wrapper .billett .buttonbuyticket {
			padding: 0.5em 1em;
			margin: 0.25em 0;
			text-decoration: none;
			border-radius: 1em;
			max-height: 8em;
			flex: 0 1 auto; }
			#billetter-wrapper .billett .buttonbuyticket:hover {
				-webkit-animation: waggle 1s ease-out forwards;
				animation: waggle 1s ease-out forwards; }

.waggle {
	background-color: transparent; }

@keyframes waggle {
	0% {
		transform: none; }
	50% {
		transform: rotateZ(-20deg) scale(1.2); }
	60% {
		transform: rotateZ(25deg) scale(1.2); }
	67.5% {
		transform: rotateZ(-15deg) scale(1.2); }
	75% {
		transform: rotateZ(15deg) scale(1.2); }
	82.5% {
		transform: rotateZ(-12deg) scale(1.2); }
	85% {
		transform: rotateZ(0) scale(1.2); }
	100% {
		transform: rotateZ(0) scale(1); } }

@media (--wide-menu-query) {
	#billetter-wrapper {
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center; }
		#billetter-wrapper .billett {
			padding: 0;
			flex: 0 1 30%;
			border: solid 2px black;
			border-radius: 1em;
			min-width: 0; }
			#billetter-wrapper .billett:not(:last-child) {
				border-radius: 1em;
				border-bottom: solid 2px black; }
		#billetter-wrapper .buttonbuyticket {
			max-height: 11em !important; } }

/*# sourceMappingURL=../../maps/dev/css/front-page.css.map */
