/**
 * Custom styles for the front-page.php template.
 */

 body, html {
	 height: 100%;
	 margin: 0;
 }
/*
 html {
	 margin:0;
	background: url('../images/bckimg.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 }
*/
.home-video {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.home-video video {
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}
.home-overlay {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0.4;
	background: #f3f4f7;
}
 .hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/logo_Test.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
	height: 50%;
  }

  .hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

  .hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
  }

  .hero-text button:hover {
	background-color: #555;
	color: white;
  }

  .label {
	  white-space: nowrap;
	  margin-right: 1em;
	  font-size: 14px;
  }
  .partner-wrapper {
	  display: flex;
	  width: 100%;
	  justify-content: center;
	height: 100%;
  }
  .partner-section {
	  height: 10em;
	  display: flex;
	  flex-flow: column wrap;
	  align-self: center;
	  flex: 1;
  }
 @media (--sidebar-query) {
	.site {
		/*margin: 0.5em 0.5em;*/
		display: grid;
		grid-template-columns: 1fr;
	}

	.site-main {
		margin: 2rem 1rem 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
		grid-auto-flow: dense;
		grid-gap: 2rem;
	}

	.post {
		margin-bottom: 0;
		padding: 0 2rem;
		border: 1px solid hsl(0, 0%, 50%);
	}

	.post:first-of-type {
		grid-column: span 2;
		margin: 0;
		padding: 0;

	}

	.wp-block-image.alignleft,
	.wp-caption.alignleft {
		margin-left: 0;
	}

	.wp-block-image.alignright,
	.wp-caption.alignright {
		margin-right: 0;
	}

	.entry-footer {
		border-bottom: none;
	}

	.site-main .posts-navigation {
		width: 100%;
		margin-bottom: 0;
		padding: 2rem 0 0;
		border-top: 1px solid #111;
		border-bottom: none;
	}

}
